* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #f1f2f3;
}

.container {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 82px;
	@media screen and (min-width: 768px) {
		padding-left: 72px;
		padding-right: 72px;
	}
}

.iconButtonLarge {
	width: 48px;
	height: 48px;
	border-radius: 48px;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-self: center;
	align-items: center;
}

.iconButtonMedium {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconButtonBase {
	width: 24px;
	height: 24px;
	border-radius: 42px;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconButtonSmall {
	width: 18px;
	height: 18px;
	border-radius: 18px;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconButtonLarge:hover,
.iconButtonMedium:hover,
.iconButtonBase:hover,
.iconButtonSmall:hover {
	background-color: #f1f2f3;
}

.ant-select .ant-select-selector {
	background-color: #9c1816 !important;
	width: 150px !important;
	color: #fff !important;
	border: 0px !important;
	border-radius: 0 !important;
}

.ant-card {
	width: 100% !important;
	background-color: #fff !important;
	overflow: hidden;
	border-radius: 0 !important;
}

.ant-card-body {
	padding: 0 !important;
}

.ant-card-actions {
	background-color: #fff !important;
}

.textBody {
	font-size: 10px !important;
	font-weight: 600;
	color: #3e3e3e;
}
/* 
.ant-skeleton {
	display: block !important;
	width: 100% !important;
}

.ant-skeleton-element {
	display: block !important;
	width: 100% !important;
} */

:where(.css-dev-only-do-not-override-1p6qna).ant-skeleton.ant-skeleton-element {
	display: block !important;
	width: 100% !important;
}
