.container {
	position: absolute;
	top: 12px;
	left: 0;
	right: 0;
	padding: 82px 16px;
	height: 100%;
	z-index: 1000;
	@media screen and (min-width: 768px) {
		padding-left: 72px;
		padding-right: 72px;
	}
}

.textTitle {
	font-size: 42px;
	font-weight: bold;
	color: #ffff !important;
	text-align: center;
	margin-inline: 32px;
}
