.contentArticle {
	width: 100%;
	@media screen and (min-width: 768px) {
		width: 75%;
	}
}

.contentNewsLocation {
	width: 100%;
	margin: 12px 0 0 0;
	@media screen and (min-width: 768px) {
		width: 25%;
		margin: 0 0 12px 12px;
	}
}
