.navbar {
	background-color: #fff !important;
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-right: 24px;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 1000;
	@media screen and (min-width: 768px) {
		padding-left: 72px;
		padding-right: 72px;
	}
}

.logo {
	padding: 8px 8px 0 0;
}

.menu {
	border-bottom: none !important;
}

.menuItem {
	background-color: #fff;
	border-bottom: none !important;
}

/* .menuContainer {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
	}
} */

.textLink {
	color: #2a2a2a;
	font-weight: 600;
	cursor: pointer;
}

.textLink:hover {
	color: #c31815;
}

.textLink:active {
	color: #c31815;
}

.textLinkActive {
	color: #c31815;
	font-weight: bold;
	cursor: pointer;
}

.textLinkActive:hover {
	color: #c31815;
	cursor: pointer;
}

.textLinkActiveRounded {
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background-color: #c31815;
}

@media (min-width: 448px) {
}
